<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>REGISTRO PRODUCTOS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/50da970ea0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css')}}">
</head>
<center> <h1>Registrar Productos</h1> </center>

<body>
<div class="container pt-4">
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <!--Incio mensjes Flash-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages%}
                    {% for category, message in messages %}
                        {% if category == "info" %}
                            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                                <strong>{{error}}{{messages}}!</strong> 
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else %}
                            <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                                <strong>{{error}} {{message}}!</strong> 
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {%endif%}
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <!--FIN mensjes Flash-->
                    <div class="card">
                        <center><div class="card-header">Registro Producto</div></center>
                            <div class="card-body">
                                <form id="formulario" action="/guardar_productos", method="post">
                                    <div class="form-group">
                                        <label for="nombre_producto">Nombre Producto</label>
                                        <input type="text" class="form-control" name="nombre_producto" id="nombre_producto">
                                    </div>
                                    <div class="form-group">
                                        <label for="valor">Valor Producto</label>
                                        <input type="text" class="form-control" name="valor" id="valor">
                                    </div>
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad</label>
                                        <input type="text" class="form-control" name="cantidad" id="cantidad">
                                    </div>
                                    <div class="form-group d-grip gap-2">
                                        <center><button id="boton_form" class="btn btn-primary mt-3" type="submit">GUARDAR <i class='fas fa-power-off'></i></button></center>
                                    </div>
                                </form>
                            </div>
                    </div>
            </div>
            <div class="col-md-8">
                    <table id="tabla_resultados" class="table table-success table-striped-columns table-bordered border-dark">
                        <thead>
                            <tr>
                                <th>Id Producto</th>
                                <th>Nombre Producto</th>
                                <th>Valor Producto</th>
                                <th>Cantidad</th>
                                <th>Editar   /    Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for productos in productos %}
                            <tr>
                                <td id="taba_id{{productos[0]}}">{{productos[3]}}</td>
                                <td id="tabla_nombre{{productos[0]}}">{{productos[1]}}</td>
                                <td id="tabla_valor{{productos[0]}}">{{productos[2]}}</td>
                                <td id="taba_cantidad{{productos[0]}}">{{productos[3]}}</td>
                                    <td>
                                        <a onclick="obtenerProductos('{{productos[0]}}')" class="btn btn-primary btn-sm">Editar <i class='fas fa-edit'></i></a>
                                        <a onclick="return confirm('¿Se va puto?')" href="/eliminar_producto/{{productos[0]}}" class="btn btn-danger btn-delete btn-sm">Eliminar <i class='fas fa-skull-crossbones'></i></a>
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {

        $('#tabla_resultados').DataTable({  "aLengthMenu":[[3,5,10,25,-1],[3,5,10,25,"ALL"]]
        ,"iDisplayLength":3,
        "language":{
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "search" : "Buscar",
                    "zeroRecords" : "Ningún Resgistro Encontrado",
                    "info" : "Página _PAGE_ de _PAGES_",
                    "infoEmpty" : "Ningún Registro Disponible",
                    "infoFiltered" : "(Filtrado de _MAX_ registro(s) totales)",
                    "paginate":{
                        "first":        "Primero",
                        "last":         "Último",
                        "next" :        "Siguiente",
                        "previous":     "Anterior"
                    },
        }
    });
    } );
</script>
<script src="{{url_for('static', filename='js/obtenerProductos.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>